#paraID {
    display: flex;
    justify-content: center;
}
#sendQuestion {
    display: flex;
    justify-content: center;
}
textarea {
    width: 75%;
    height: 150px;

}

#buttonDiv {
    display: flex;
    justify-content: center;
}
#buttonID {
    background-color:aqua;
    transition-property: background-color;
}
#buttonID:hover {
	background-color: green;
}