#navbar {
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
    border: #7400B8 10px; /*TODO: make it actually work*/
    background-color: #7400B8;
}
.navbarButton {
    width: 20%;
    margin-left:10px;
    margin-right:10px;
    background-color: #6930C3;
    background-image: linear-Gradient(#7400b8, #5e60ce);
    border-color: #7400B8;
}